@(locations: java.util.Map[Integer, String])
@main("Weather") {
    <div id="location-dropdown-divid" class="location-dropdown-divclass">
        <select id="location-dropdown" title="Select Location">
            <option selected="default">Select Location</option>
            @for((locationId, locationName) <- locations) {
                <option value='@locationId'>@locationName</option>
            }
        </select>
    </div>

    <div id="rate-table" class="rate-table">
        <table class="table" id="location-rate-table">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Temperature</th>
                    <th>Weather</th>
                    <th>Wind</th>
                </tr>
            </thead>
            <tbody id="location-table-body">
            </tbody>
        </table>
    </div>
}
